.card {
    padding: 5px;
    width: 100%;
    font-size:18px;
    text-align: center;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card-title {
    width: 100%;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

.xcard-display {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;

}

.card-display {    
      line-height: -5px;       
     -webkit-column-count: 4;    
     -webkit-column-gap: 0px;    
     -moz-column-count: 4;
     -moz-column-gap: 0px;
      column-count: 4;    
      column-gap: 0px;    
 }  

 @media screen and (max-width: 960px) {
    .card-display {
      -webkit-column-count: 3;    
      -moz-column-count: 3;
       column-count: 3;    
    }
  }

 @media screen and (max-width: 480px) {
    .card-display {
      -webkit-column-count: 2;    
      -moz-column-count: 2;
       column-count: 2;    
    }
  }

 .card-display .card {    
    height: auto !important;  
    cursor: pointer;
 }  

 .card img:hover {
    transform: scale(1.02);
  }
 .card-display{    
    margin-right: auto;    
    margin-left: auto;  
 }
 
 
  
